$size: 1rem;
$size-7xs: calc(0 * $size);
$size-6xs: calc(0.125 * $size);
$size-5xs: calc(0.25 * $size);
$size-4xs: calc(0.375 * $size);
$size-3xs: calc(0.5 * $size);
$size-2xs: calc(0.625 * $size);
$size-xs: calc(0.75 * $size);
$size-sm: calc(0.875 * $size);
$size-base: calc(1 * $size);
$size-md: calc(1.125 * $size);
$size-lg: calc(1.25 * $size);
$size-xl: calc(1.375 * $size);
$size-2xl: calc(1.5 * $size);
$size-3xl: calc(1.625 * $size);
$size-4xl: calc(1.75 * $size);
$size-6xl: calc(1.875 * $size);
$size-7xl: calc(2 * $size);

$aspect-square: calc(1 / 1);
$aspect-video: calc(16 / 9);
$aspect-landscape: calc(9 / 16);
$aspect-portrait: calc(4 / 3);
